<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1>sistema de monitoreo</h1>
    <style>
        .button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 70px;
  display: inline-block;
  font-size: 16px;
}
    </style><div>
        </a></a>
    </div>
    <a href="{% url 'panel' %}" class="button">
        <div>
            <button type="button" class="btn btn-success">Panel de dispositivos</button>
        </div>
</body>
</html>
